.treeNode-wrapper {
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .treeNode {
    height: 50px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
  }
  
  .treeNode-title {
    margin: 0 10px;
  }

  .toolbar {
    display: flex;
    width: 70px;
    justify-content: space-between;
  }

  .hide {
    display: none;
  }